nav(class='top-bar nav success')
  div(class='top-bar-left')
    ul(class='menu')
      li(class='menu-text'): a(href='/home'): h4 Knex Photos App
  div(class='top-bar-right')
    div(class='row align-right button-group')
      a(href='#' class='success button') CREATE ACCOUNT
      a(href='#' class='warning button') KNEX LOGIN
      a(href='#' class='button') FACEBOOK LOGIN