.page {
  margin: 0 auto;
  margin-top: 30px;
}

.nav {
  background-color: #def0fc;
}

.top-bar ul {
  background: none;
}

.top-bar-left .menu-text {
  padding: 0.7rem 2rem;
}

.top-bar-left .menu-text h4 {
  margin: 0;
}

.top-bar-right .button-group {
  padding: 0 3rem;
}

.button-group {
  margin: 0;
}

.pics {
  width: 100%;
  min-width: 262px; 
  min-height: 263px;
}

/*home*/

.home .thumbnail {
  display: block;
}

.thumbnail h4 {
  color: #444444;
  margin-top: 10px;
}

.thumbnail hr {
  margin: 0.5rem 0;
}

.thumbnail .meta {
  color: #afafaf;
  text-align: right;
}

.pic-name, .meta {
  padding: 0 0.5rem;
  word-wrap: break-word;
}

/*users show*/

.page.callout {
  background: none;
  border: 1px solid #2199e8;
  color: #2199e8;
  max-width: 73.2rem;
}

.page.callout.error {
  border: 1px solid red;
  color: red;
}